src/flows/Test_Flow-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>Convert_It</name>
        <choiceText>Convert It</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <constants>
        <name>Received</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Received</stringValue>
        </value>
    </constants>
    <constants>
        <name>WorkingContacted</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Working - Contacted</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Convert_it_to_an_opportunity</name>
        <label>Convert it to an opportunity?</label>
        <locationX>505</locationX>
        <locationY>445</locationY>
        <defaultConnector>
            <targetReference>Fault</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Convert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Convert_it_to_Opportunity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Thank_you_all_completed</targetReference>
            </connector>
            <label>Don&apos;t convert it</label>
        </rules>
        <rules>
            <name>Convert_It_Please</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Convert_it_to_Opportunity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Converted</targetReference>
            </connector>
            <label>Convert It</label>
        </rules>
    </decisions>
    <label>Test Flow</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Add_to_Campaign</name>
        <label>Add to Campaign</label>
        <locationX>186</locationX>
        <locationY>388</locationY>
        <connector>
            <targetReference>Convert_to_Opportunity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Campaign_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>LeadID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Received</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Lead</name>
        <label>Create Lead</label>
        <locationX>195</locationX>
        <locationY>278</locationY>
        <assignRecordIdToReference>LeadID</assignRecordIdToReference>
        <connector>
            <targetReference>Add_to_Campaign</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>WorkingContacted</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordLookups>
        <name>Look_up_Campaign</name>
        <label>Look up Campaign</label>
        <locationX>196</locationX>
        <locationY>163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Lead</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault</targetReference>
        </faultConnector>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Campaign</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>Campaign_Name</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Convert_to_Opportunity</name>
        <label>Convert to Opportunity?</label>
        <locationX>349</locationX>
        <locationY>445</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Convert_it_to_an_opportunity</targetReference>
        </connector>
        <fields>
            <name>Convert_it_to_Opportunity</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Convert it to Opportunity?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Converted</name>
        <label>Converted</label>
        <locationX>700</locationX>
        <locationY>461</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>Hasbeenconverted</name>
            <fieldText>Has been converted</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Create_new_Lead</name>
        <label>Create new Lead</label>
        <locationX>196</locationX>
        <locationY>49</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Look_up_Campaign</targetReference>
        </connector>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Company</name>
            <dataType>String</dataType>
            <fieldText>Company</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Campaign</name>
            <dataType>String</dataType>
            <fieldText>Campaign</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Fault</name>
        <label>Fault</label>
        <locationX>421</locationX>
        <locationY>226</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>DisplayFault</name>
            <fieldText>{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Thank_you_all_completed</name>
        <label>Thank you all completed</label>
        <locationX>505</locationX>
        <locationY>581</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>thankyounoconvert</name>
            <fieldText>Thank you, Lead has been created without conversion</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Create_new_Lead</startElementReference>
    <variables>
        <name>Campaign_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
